h1{
    font-size:30px;
}
div{
    width: 400px;
    height: 400px;
    background-color:red;
}
@media(max-width:400px){
   h1{
 font-size:30px;
   }  
   div{
     width: 400px;
    height: 400px;
   }
}